:root {
    --colore-sezione-principale: rgb(31, 31, 255);
    --colore-scritte-menu: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

.menu {
    display: flex;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(232, 132, 75);
}

ul {
    list-style: none;
}

.menu-list {
    display: flex;
    margin-right: 2rem;
}

.menu-list a {
    padding: 2rem;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    color: #3a3d40;
    transition: background-color 0.3s;
}

.menu-list a:hover {
   background-color: white;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1 {
    font-size: 8rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.project-tile h2 {
    font-size: 3.7rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: #3a3d40;
    color: white;
}
.project-tile {
    background: rgb(232, 132, 75);
    padding: 10rem 2rem;
    
}

.sottotitolo {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: rgb(232, 132, 75);
}
 .griglia-progetti img {
  max-width: 100%;
  width: 100%;
  height: 410px;
  object-fit:cover;
  display: block;

 }

 .griglia-progetti {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 40px;
    row-gap: 2rem;
    column-gap:30px;
 }

a p {
    padding: 10px;
    text-align: center;
}

.griglia-progetti a {
    text-decoration: none;
    color: white;
    overflow: hidden;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    box-shadow: 2px 2px 2px #3a3d40aa;
}

.griglia-progetti a p {
    background-color:#3a3d40;
}
.code {
    color: #3a3d40;
    transition: color 0.3s;
}
.griglia-progetti a:hover .code{
    color: rgb(232, 132, 75);
}
h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: white;
    margin-bottom: 30px;
}
.sezione-contatti {
    padding: 5rem;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.link-contatti {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}

.link-contatti i {
margin-right: 8px;
font-size: 35px;
}

.link-contatti a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
    
}
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  border-top: 4px solid coral;
  color: white;
}

.link-contatti a:hover {
    transform: translateY(8px);
}

@media screen and (max-width: 499px) {
    .link-contatti {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .link-contatti a {
        width: 150px;
    }
    .welcome-section {
        padding: 15px;
    }
    .welcome-section h1 {
        font-size: 6rem;
    }
    .menu {
        justify-content: center;
    }
    .menu-list {
        margin-right: 0;
    }
}
 